@import '../../styles/variables';

.field {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;

  &__label {
    color: $gray;
    font-size: 9px;
    line-height: 9px;
  }

  &__input {
    padding: 7px 0;
    border-bottom: 1px solid $primary;
  }
}

.input {
  &__label {
    display: none;
    &--error {
      display: block;
      color: $error;
    }
  }
}

.profile {
  &-field {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 10px 0;
    border-bottom: 1px solid $br-color;
    flex-wrap: wrap;

    &:last-child {
      margin-bottom: 0;
      border-bottom: none;
    }

    &__label {
      font-size: 13px;
      line-height: 13px;
      flex-basis: 50%;
      flex-shrink: 0;
    }

    &__input {
      text-align: right;
      font-size: 13px;
      line-height: 13px;
      flex-shrink: 0;
      flex-basis: 50%;
    }
  }
}
