<div class="messages">
  <div class="messages__date">{{date}}</div>
  <div class="messages__wrapper">
    {{#each messages}}
      <div class="message{{#if owner}} message--owner{{/if}}">
        <p class="message__text{{#if owner}} message__text--owner{{/if}}">{{text}}</p>
        <span class="message__date{{#if owner}} message__date--owner{{#if isReaded}} message__date--readed{{/if}}{{/if}}">{{date}}</span>
      </div>
    {{/each}}
  </div>
</div>
