@import "../../styles/variables";

.main-btn {
  width: 100%;
  margin-bottom: 14px;
  padding: 12px 0;
  color: $white;
  border-radius: 8px;
  background: $primary;
  font-size: 13px;
  line-height: 13px;
}
