@import "../../styles/variables.scss";
.form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;

  &__inputs,
  &__buttons {
    display: flex;
    flex-direction: column;
  }

  &__inputs {
    margin-bottom: 29px;
  }
}
