{{#each dialogues}}
  <div class="dialogue">
    <div class="dialogue__avatar"></div>
    <div class="dialogue__about">
      <div class="dialogue__name">{{user.name}}</div>
      <div class="dialogue__text">
        {{#if lastMessage.owner}}
          <span class="dialogue__owner">Вы:</span>
        {{/if}}
        {{lastMessage.text}}
      </div>
    </div>
    <div class="dialogue__info">
      <span class="dialogue__date">{{lastMessage.date}}</span>
      {{#if newMessagesCount}}
        <div class="dialogue__count">{{newMessagesCount}}</div>
      {{/if}}
    </div>
  </div>
{{/each}}
