<div class='error'>
	<div class='error__wrapper'>
		<div class='error__title'>
			<h2 class='error__code'>{{errorCode}}</h2>
			<span class='error__text'>{{errorText}}</span>
		</div>
		{{{link}}}
	</div>
</div>
