@import './variables';

html,
body {
  margin: 0;
  padding: 0;
  color: $black;
  background: $white;
  font-family: Inter, sans-serif;
  font-size: 12px;
  font-weight: 500;
  font-style: normal;
  line-height: 15px;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

p {
  margin: 0;
}

input {
  color: $black;
  border: none;
  outline: none;
  background-color: inherit;

  &::placeholder {
    color: $gray;
  }
}

button {
  padding: 0;
  cursor: pointer;
  color: inherit;
  border: none;
  outline: none;
  background: none;
}

* {
  box-sizing: border-box;
}
