@import "./variables.scss";

html,
body {
  margin: 0;
  padding: 0;

  color: $black;
  background: $white;

  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
	font-size: 12px;
	line-height: 15px;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
	margin: 0;
}

* {
  box-sizing: border-box;
}
