$white: #fff;
$primary: #3369f3;
$black: #1e1e1e;
$gray-bg: #fbfbfb;
$br-color: #eaeaea;
$gray: #999999;
$error: #ff2f2f;
$log-out: #eaeaea;
$focused: #e4edfd;
$search-bg: #efefef;
$empty-avatar: #efefef;
