$white: #fff;
$primary: #3369f3;
$black: #1e1e1e;
$gray-bg: #fbfbfb;
$br-color: #eaeaea;
$gray: #999;
$error: #ff2f2f;
$log-out: #eaeaea;
$focused: #e4edfd;
$search-bg: #efefef;
$empty-avatar: #efefef;
$shadowLogIn: rgb(0 0 0 / 14%);
$hoverAvatar: rgb(0 0 0 / 50%);
$btnExit: #f00;
$bg-message: #f8f8f8;
$bg-dots-menu: #f5f5f5;
