$white: #FFF;
$primary: #3369F3;
$black: #1E1E1E;
$gray-bg: #FBFBFB;
$br-color: #EAEAEA;
$gray: #999;
$error: #FF2F2F;
$log-out: #EAEAEA;
$focused: #E4EDFD;
$search-bg: #EFEFEF;
$empty-avatar: #EFEFEF;
$shadowLogIn: rgb(0 0 0 / 14%);
$hoverAvatar: rgb(0 0 0 / 50%);
$btnExit: #F00;
$bg-message: #F8F8F8;
