
	<ul>
		<li><a href='./registration'>Страница регистрации</a></li>
		<li><a href='./auth'>Страница авторизации</a></li>
		<li><a href='./profile'>Страница профиля</a></li>
		<li><a href='./chats'>Страница чатов</a></li>
		<li><a href='./404'>Страница 404</a></li>
		<li><a href='./500'>Страница 500</a></li>
	</ul>

