@import "../../styles/variables";

.chat {
  &-modal {
    position: absolute;
    right: -10px;
    bottom: -100px;
    width: 210px;
    height: 90px;
    padding: 10px 15px;
    opacity: 0;
    pointer-events: none;
    transition: opacity 200ms ease-in;
    background: $white;
    box-shadow: 0 0 6px $shadowLogIn;
    border-radius: 12px;
    flex-direction: column;
    justify-content: flex-start;
    display: flex;
    z-index: 1050;

    &--open {
      opacity: 1;
      pointer-events: auto;
    }

    &__btn {
      color: $primary;
      font-weight: 500;
      font-size: 12px;
      line-height: 14px;
      padding: 5px 0;

      &--red {
        color: $btnExit;
        border-top: 1px solid $br-color;
      }
    }
  }
}
