@import '../../styles/variables.scss';

.chat {
  &-modal {
    position: absolute;
    right: -10px;
    bottom: -75px;
    width: 210px;
    height: 65px;
    padding: 10px 15px;

    background: $white;
    box-shadow: 0px 0px 6px $shadowLogIn;
    border-radius: 12px;
    flex-direction: column;
    justify-content: flex-start;
    display: none;

    &--open {
      display: flex;
    }

    &__btn {
      color: $primary;
      font-weight: 500;
      font-size: 12px;
      line-height: 14px;
      padding: 5px 0;

      &--red {
        color: $btnExit;
        border-top: 1px solid $br-color;
      }
    }
  }
}
