<div class="messages">
  <div class="messages__wrapper">
    <div class="message {{#if isMine}}message--owner{{/if}}">
      <p class="message__text">{{content}}</p>
      <span class="message__date{{#if isMine}} message__date--owner{{/if}}">{{time}}</span>
    </div>
  </div>
</div>
